*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media  screen and (max-width:760px){
    body{
        height: 100vh;
        width:100vw;
        background-image: url('background');
    }
}


@media  screen and (min-width:760px){
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(background.jpg) no-repeat center center/ cover;
}
.center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80vw;
    padding: 20px;
    max-width: 600px;
    background-color: white;
    border: 3px solid red
}
h1 {
    width: 100%;
}
#random--name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    height: 8rem;
}
button{
    width: 10rem;
    height: 3rem;
}
}