*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:760px) {
    body{
        height: 100vh;
        width:100vw;

    .container-center{      
        width:100vw;
    }
    .container-header{
        display: inline-flex;
        width: 100vw;
        height: 20vh;
        justify-content: space-around;
        background-image: url('background-mobile.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    }
    .logo{
        display: flex;
        width: 2vw;
    }
    .edit--bttn{
        display: flex;
        width: 20vw;
        background-color: #003C8D;
        border-radius: 20px;
    }
    .name--container{}
    .inser--name {}
    .edit--bttn{}
    .delete--bttn{}
}

@media screen and (min-width:759px) {
    body{
        height: 100vh;
        width: 100vw;
        background-image: url('background-desktop.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .container-center{

    }
    .container-header{
        display: inline-flex;
        width: 80vw;
    }
    .logo{
        display: flex;
        width: 20%;
    }
    .edit--bttn{

    }
    .name--container{

    }
    .start--bttn{
        
    }
}