*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:760px) {
    body{
        height: 100vh;
        width: 100vw;
        font-family: 'Open Sans', sans-serif;
        background-image: url('images/Page\ 2\ B&W.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .container-center{      
        width:100vw;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .container-header{
        display: inline-flex;
        width: 100vw;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        width: 40vw;
        margin-left: 1.5rem;
    }
    #edit--btn{
        margin-top: 5vh;
        margin-right: 1em;
        width: 20vw;
        height: 6vh;
        font-size: 1rem;
        background-color: #003C8D;
        border-radius: 0.2rem;
        border-style: none;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        list-style: none;
        outline: none;
    }
    .program--container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        position: absolute;
    }
    .random--name{
        background-color: #003C8D;
        padding: 2rem 2rem;
        margin:8rem 1.5rem 2rem;
        border-radius: 0.4rem;
    }
    #random--name{
        border-radius: 0.4rem;
        text-align: center;
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 0.8rem 0.8rem;
        background-color: #EEEEEE;
    }
    .container--btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #tryAgain--btn, #reset--btn {
        width: 8rem;
        height: 3rem;
        flex-shrink: 0;
        border-radius: 0.5rem;
        background: #FFF;
        border-style: none;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-family: 'Open Sans';
        font-size: 1rem;
        font-style: normal;
        font-weight: 800;
}
}


@media screen and (min-width:761px){
    body{
        height: 100vh;
        width: 100vw;
        font-family: 'Open Sans', sans-serif;
        background-image: url('images/Desktop\ -\ 5.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .container-center{      
        width:100vw;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .container-header{
        display: inline-flex;
        width: 100vw;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        width: 15vw;
        margin-left: 7rem;
    }
    #edit--btn{
        margin-top: 7vh;
        margin-right: 7em;
        width: 7vw;
        height: 6vh;
        background-color: #003C8D;
        border-radius: 0.5rem;
        border-style: none;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        list-style: none;
        outline: none;
    }
    .program--container{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .random--name{
        position: relative;
        left: 25rem;
        top: 5rem;
        background-color: #003C8D;
        padding: 2rem 2rem;
        margin:6rem 0rem 1rem;
        border-radius: 0.4rem;
        width: 40%;

    }
    #random--name{
        position: relative;
        border-radius: 0.4rem;
        text-align: center;
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 0.8rem 0.8rem;
        background-color: #EEEEEE;
    }
    .container--btn{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        width: 40%;
    }
    #tryAgain--btn, #reset--btn {
        position: relative;
        left: 25rem;
        top: 8rem;
        width: 9rem;
        height: 3rem;
        flex-shrink: 0;
        border-radius: 0.5rem;
        background: #FFF;
        border-style: none;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-family: Open Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 800;
}
}