*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
   header{
    width: 100%;
    height: 0rem;
    display: flex;
    flex-wrap: wrap;
   }
    .logo{
        width: 20%;
        border: 3px red solid;
        z-index: 1;
        }
    .background-mobile{
        width: 100%;
        height: 100%;
        border: 3px blue solid;
        
    }
}