* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos comunes para ambas vistas (desktop y móvil) */
.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100px;
}

#edit--btn,
#start--btn {
    position: absolute;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1rem;
}

/* MOBILE */
@media (max-width: 668px) {
    .background-desktop {
        background-image: url(mobileBackground.png);
        display: none; 
    }

    .background-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .logo {
        top: 2%;
        left: 6%;
        width: 6rem;
    }

    #edit--btn {
        top: 4%;
        right: 5%;
        background-color: #003C8D;
        color: white;
    }

    #start--btn {
        top: 65%;
        left: 47%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: black;
        box-shadow: 3px 3px black;
        font-size: 1.5rem;
    }
}

/* DESKTOP */
@media (min-width: 669px) {
    .background-mobile {
        display: none; 
    }

    .background-desktop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .logo {
        top: 1rem;
        left: 3rem;
        width: 9rem;
    }

    #edit--btn {
        top: 1.8rem;
        right: 2rem;
        background-color: #003C8D;
        color: white;
    }

    #start--btn {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: black;
        box-shadow: 3px 3px black;
        font-size: 1.5rem;
        padding: 10px 40px;
    }
}


